.odd {
    background-color: rgb(255, 182, 193);
    font-family: Verdana, "DejaVu Sana", sans-serif;
}

#two {
    color: blue;
    font-size: 36px;
}

.bigger {
    font-size: 24px;
}

#four {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}